.contact-picture {
    /* max-width: 190px;
    max-height: 200px; */
    width: 190px;
    height: 200px;
    border: 1px solid gray;
    margin-top: 23px;
    margin-left: 5px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}